@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
	margin: 0;
	padding: 0;
	background: #f5f4f2;
	font-family: MyriadProRegular;
}

#main {
	width: 1141px;
	margin: 0 auto;
	background: url(../img/leftBg.jpg) 0 repeat-y;
	-webkit-box-shadow: 0px 12px 30px -14px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 12px 30px -14px rgba(0,0,0,0.4);
	box-shadow: 0px 12px 30px -14px rgba(0,0,0,0.4);
}

#left {
	width: 226px;
	min-height: 677px;
	position: relative;
	float: left;
}

#left > .logo {
	display: block;
	width: 100%;
	height: 138px;
	background: url(../img/vivchari.com.png) 50% no-repeat;
	padding:20px 0;
}
.ua #left > .logo {
	background-image: url(../img/vivchari.com-ua.png);
}

.langs {
	text-align: right;
	padding-right: 30px;
	cursor:pointer;
}
.langs > .lang {
	display:inline-block;
	width:32px;
	height: 21px;
	text-align: center;
	color:#396639;
	text-decoration: none;
	line-height: 23px;
	font-size: 18px
}
.langs > .lang.active {
	background: #396639;
	border-radius: 19px/14px;
	color:#fff;
	cursor:default;
}

#left > .menu {
	font-size: 19px;
	text-transform:uppercase;
	color:#396639;
	line-height: 26px;
}

#left > .menu > a {
	display: block;
	margin-left: 25px ;
	padding-left: 6px;
	border-bottom: 2px solid #6d6d6d;
	width: 164px;
	text-decoration: none;
	color:inherit;
	padding-top: 5px;
}
#left > .menu > a.active {
	font-weight: 900;
}
#left > .menu > a:last-child {
	border:none;
}

.social {
	position: absolute;
	bottom: 35px;
	left:42px;
}
.social > a {
	width: 25px;
	height: 25px;
	background: url(../img/socialSprite.png) no-repeat;
	display: block;
	margin-right: 14px;
	float: left;
}
.social > a.facebook {background-position: -1px -1px}
.social > a.instagram {background-position: -1px -34px}
.social > a.pinterest {background-position: -1px -66px}
.social > a.twitter {background-position: -1px -101px}

#right{
	position: relative;
	margin-left: 226px;
	min-height: 677px;
	background: url(../img/mainBg.jpg);
}

.hs {
	height: 20px;
	background: rgba(0,0,0,0.1);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.vs {
	width: 20px;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	background: rgba(0,0,0,0.1);
	background: -moz-linear-gradient(left, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}


#right > .slider {
	width: 915px;
	height: 677px;
	position: relative;
}
#right > .slider > .layer {
	width: inherit;
	height: inherit;
	position: absolute;
	left: 0;
	top:0;
	background-position: 0 0;
	background-repeat: no-repeat;
}

#right > .slider > .layer > .btn{
	background: rgba(57,102,57,0.75);
	width: 350px;
	height: 158px;
  padding-top: 30px;
	border-top-left-radius: 25px;
	position: absolute;
	bottom: 0;
	right: 0;
	color:#fff;
	font-size: 25px;
	text-align: center;
	line-height: 43px;
	text-decoration: none;
}
#right > .slider > .layer > .btn > .title{
	font-size: 35px;
}

#right > .slider > .layer0 {
	background-image: url(../img/slider/0.jpg);
}

#right > .slider > .navigate {
	position: absolute;
	left: 55px;
	bottom: 33px;
	width: 400px;
	height:13px;
	z-index: 3;
}

#right > .slider > .navigate > div {
	float: left;
	border: 1px solid #396639;
	background: #81818c;
	cursor: pointer;
	width: 13px;
	height: 13px;
	margin-right: 3px;
	border-radius: 7px;
}
#right > .slider > .navigate > div.active {
	background: #396639;
}

#right > .production {
	padding-left: 20px;
}
#right > .production > .product {
	width: 212px;
	float: left;
	padding-right: 8px;
	padding-top: 33px;
	text-decoration: none;
}

#right > .production > .product > div {
	height: 240px;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-color: #98999e;
}

#right > .production > .product > footer {
	height: 82px;
	padding-top: 42px;
	line-height: 28px;
	font-size: 27px;
	border-bottom-left-radius: 20px;
	background: rgba(57,102,57,0.75);
	color:#fff;
	text-align: center;
	position: relative;
}

#right > .production > .product > footer > .ico {
	width:44px;
	height: 38px;
	background: url(../img/woolTypeSprite.png) #316D3E no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	border-bottom-left-radius: 8px;
}
#right > .production > .product > footer > .ico.ico-summer {
	background-position: 9px -7px;
}

#right > .production > .product > footer > .ico.ico-winter {
	background-position: 11px -47px;
}

.cb {
	clear: both;
}

#right > header {
	width: 844px;
	height: 121px;
	background: url(../img/productionHead.png) bottom no-repeat;
	margin: 0 auto;
	padding-top: 37px;
}


#right > .product {
	position: relative;
}

#right > .product > h1 {
	width: 360px;
	height: 74px;
	line-height: 74px;
	color: #fff;
	font-size: 30px;
	text-align: center;
	background: rgba(57,102,57,0.75);
	border-bottom-right-radius: 17px;
	margin:0 0 33px 0;
	padding: 0;
	font-weight: normal;

}

#right > .product > .gallerySelectWrap {
	width:808px;
	height: 155px;
	margin: 0 auto;
	position: relative;
}
#right > .product > .gallerySelectWrap > .prev {
	background: url(../img/gallerySelectBack.png) no-repeat;
	width: 33px;
	height: 31px;
	position: absolute;
	top: 50%;
	left: -40px;
	margin-top: -16px;
	cursor: pointer;
}
#right > .product .gallerySelectWrap > .next {
background: url(../img/gallerySelectForward.png) no-repeat;
	width: 33px;
	height: 31px;
	position: absolute;
	top: 50%;
	right: -40px;
	margin-top: -16px;
	cursor: pointer;
}

#right > .product .gallerySelect {
	position: relative;
	width:inherit;
	height: inherit;
	overflow:hidden;
}

#right > .product .gallerySelect > .item {
	width: 98px;
	float: left;
	margin-right: 3px;
	cursor: pointer;
}
#right > .product .gallerySelect > .item > div {
	height: 109px;
	background-position: center;
}
#right > .product .gallerySelect > .item > footer {
	font-size: 13px;
	background: rgba(57,102,57,0.75);
	padding: 4px 7px 0 7px;
	line-height: 14px;
	height: 42px;
	color: #fff;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#right > .product > .description {
	width: 292px;
	float: left;
	color: #396639 ;
	font-size: 22px;
	padding: 20px 14px 0 50px;
	line-height: 24px;
}
#right > .product > .description .d400 {
	display: none;
}

#right > .product > .galleryImg{
	width:511px;
	height: 378px;
	position: relative;
	margin: 0 0 25px 350px;
}

#right > .product > .galleryImg > .layer {
	height: inherit;
	width:inherit;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}

#right > .product > .galleryImg > .back {
	background: url(../img/galleryBack.png);
	width: 38px;
	height: 37px;
	position: absolute;
	top: 50%;
	left: 10px;
	margin-top:-19px;
	cursor:pointer;
	z-index: 2;
}

#right > .product > .galleryImg > .forward {
	background: url(../img/galleryForward.png);
	width: 38px;
	height: 37px;
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top:-19px;
	cursor:pointer;
	z-index: 2;
}

.contacts {
	font-size: 19px;
	padding: 40px 190px;
	color: #396639;
	line-height: 29px;
}
.contacts .facebook {
	width: 25px;
	height: 25px;
	background-position: -1px -1px;
	background: url(../img/socialSprite.png) -1px -1px no-repeat;
	display: inline-block;
	margin-bottom: -6px;
}
.contacts .qr{
	width: 210px;
	height: 210px;
	background: url(../img/qr.png)no-repeat;
	background-size: cover;
}
